/* background color, 
Trojan color:red #990000, yellow #FFCC00
Black: 100% Black, Hex: #000000
Dark Gray: 53% Black, Hex: #777777
Light Gray :20% Black, Hex: #CCCCCC
White: Hex: #FFFFFF
*/

body{
    background-color: #990000;
    font-family: "Nunito", sans-serif;
    color: white;
}

.blurb h2{
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #FFCC00;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar{
    font-size: 1.2em;
    font-weight: 100;
}

#mainNavbar .nav-link:hover{
    color: white;
}

#mainNavbar .navbar-brand{
    color: white;
    font-size: 1.2em;
}

/* .col-6{
    color: #FFCC00;
} */

#headingGroup span{
    color: #FFCC00;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled{
    background-color: #777777;
    transition: background 500ms;
}

@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}

