/* Include padding and border in the element's total width and height: */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;  /* Inter font is from google font */
    background-color: #282D35;
    background-image: url(./images/react-icon-large.png); /* default image is repeated */
    background-repeat: no-repeat;  
    /* background-position-x: right;
    background-position-y: 75%; */
    background-position: right 75%;
}
nav {
    display: flex;
    /* Center the alignments for all the items of the flexible <nav> element, 上下的 center */
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;  /* top-bottom 30px, left-right 25px*/
}

/* Selects all <h3> elements where the parent is a <nav> element */

.nav-logo-text, .nav-title{
    margin: 0;
} 

.nav-logo-text {
    /* margin-right: auto; The auto keyword will give the right side a share of the remaining space. */
    margin-right: auto;
    color: #61DAFB;
    font-weight: 800;
    font-size: 22px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-img {
    height: 30px;
    padding-right: 0.5em;
}

main {
    padding: 50px 30px;
    color: #FFFFFF;
}

.main-title {
    font-size: 40px;
    margin: 0;
    letter-spacing: -0.05em;
}

.main-ul {
    margin-top: 45px;
    color: #DEEBF8;
    max-width: 400px;
}

.main-ul > li {
    line-height: 19px;
    padding-block: 10px;
}

.main-ul > li::marker {
    color: #61DAFB;
    font-size: 1.5em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #21222A;
    color: #FFFFFF;
    padding: 1.2em;
    text-align: center;
}

a {
    color: #DEEBF8;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
