@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #0B2434; */
  background-color:powderblue;
  padding: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  background-color: #F5F5F5;
  height: 500px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.instructions {
  font-family: 'Inter', sans-serif;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  /* grid-template: Specifies the size(s) of the columns and row, here 2 rows (2 auto) / 5 cols (5 1fr) */
  /* fr: a unit which represents a fraction of the available space in the grid container. */
  /* repeat(): https://developer.mozilla.org/en-US/docs/Web/CSS/repeat*/
  gap: 20px;  /*gap between die component*/
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  /* display and justify-content work together to make nums stand at the center */
  display: flex;
  justify-content: center;
  /* align-items: Pack child items around the center*/
  align-items: center;

  cursor: pointer;  /* refresh webpage to check the effect*/
}

.roll-button {
  height: 50px;
  width: 150px;
  /* background: #5035FF; */
  background: powderblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  cursor: pointer;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}